<div class="main-inner">
  <div class="f-cont">
    <div class="f-top">
      <div class="f-logo">
        <span class="sr-only"></span>
      </div>
      <div class="f-link">
        <ul>
          <li><a href="#">회사소개</a></li>
          <li class="txt-bold"><a href="#">개인정보 처리방침</a></li>
          <li><a href="#">광고/제휴 문의</a></li>
        </ul>
      </div>
    </div>
    <div class="f-info">
      <ul>
        <li class="ico2">
          <a href="mailto:jojosg93@naver.com">jojosg93@naver.com</a>
        </li>
      </ul>
    </div>
    <p class="copyright">@tvN. All reserved</p>
  </div>
  <div class="f_family">
    <button type="button" class="button" onclick="toggleFamiliyList()">
      <span>Familiy Site</span>
    </button>
    <div class="family-site-list">
      <ul>
        <li><a href="#" target="_blank">Mnet</a></li>
        <li><a href="#" target="_blank">Tving</a></li>
      </ul>
    </div>
  </div>
</div>
