.clip-swiper {
  width: 80%;
  height: 100%;
}

.swiper-wrapper {
  z-index: 1;
}

.module {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  height: 100%;
  background: #fff;
  .img-area {
    .thumb-img {
      position: relative;
    }
    .time-wrap {
      .time {
        display: inline-block;
        background: rgba(0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.5rem;
      }
      position: absolute;
      z-index: 6;
      bottom: 8px;
      right: 8px;
    }
    .play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 5;
    }
    .img-box {
      position: relative;
    }
    position: relative;
  }
}

.icon-play-btn {
  display: block;
  position: absolute;
  top: -20px;
  left: -30px;
  width: 50px;
  height: 50px;
  background: url("../../../../resources/images/icon-play.png") no-repeat center;
  background-size: 100% auto;
}

.module {
  .typo-area {
    position: relative;
    padding: 10px 24px 20px 20px;
    .typo-inner {
      text-align: left;
      dt {
        a {
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-word;
          display: -webkit-box;
          // -webkit-line-clamp: 2; // 원하는 라인수
          -webkit-box-orient: vertical;
        }
      }
      dd {
        font-size: 13px;
        line-height: 19px;
        max-height: 38px;
        margin-top: 6px;
      }
    }
    .tag-label {
      right: 24px;
      .inner {
        display: flex;
        align-items: flex-end;
        left: -25px;
        height: 40px;
        margin-top: 20px;
        .flag-txt {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          padding: 10px 18px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

dt {
  overflow: hidden;
  text-overflow: ellipsis;
}
